.videos-section {
  // display: flex;
  // height: 400px;
  // width: 100%;

 
}

.videos {
    // display: flex;
    // width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
  }