.banner {
  border-radius: 15px;
  padding: 150px 50px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;

  .banner-content {
    h1 {
      font-weight: bold;
      font-size: 75px;
      margin-bottom: 35px;
      color: #fff;
    }

    p {
      font-size: 22px;
      font-weight: 300;
      line-height: 36px;
      color: #fff;
    }

    .meta {
      margin-bottom: 20px;

      li {
        font-size: 18px;
        padding-right: 15px;
        color: #fff;
        
      }

      svg {
        margin-right: 15px;
      }

      li:nth-child(1) {
        font-weight: 600;
      }

      li:nth-child(4) {
        span {
          font-weight: bold;
          text-align: center;
          padding: 2px 5px;
          font-size: 15px;
          border-radius: 6px;
          background: #e90101;
        }
      }
    }
  }
}
